{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
    <h1>Имена пользователей</h1>
    <ul>
        {% for user in users %}
        <li>{{ user[0] }}</li>
        {% endfor %}
    </ul>
    <a href ="/lab5/reg">Регистрация</a>
    <br><a href ="/lab5/anon">Анон</a>
    <br><a href ="/lab5/articles">Создание заметок</a>
    <br><a href ="/lab5/articles">Просмотр заметок</a>
    <br><a href ="/lab5/loginn">Логин</a>

    <form action="/lab5/logout">
        <button class="button_user" type="submit">Выйти</button>
    </form>

{% endblock %}