{% extends "base.html" %}

{% block lab %} Расчетно-графическое задание {% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='rgz/product.js') }}"></script>
<style>
.modal {
    display: none;
    z-index: 100;
    box-shadow: 3px 3px 5px black;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    padding: 20px;
}
</style>
{% endblock %}

{% block main %}
    <h1>Список товаров</h1>

    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество в наличии</th>
                <th>Цена</th>
                <th>Артикул</th>
            </tr>
        </thead>
        <tbody id="good-list"></tbody>
    </table>

    <script>
        fillGoodList();
    </script>

    <div>
        <button onclick="addGood()">Добавить товар</button>
    </div>

    <div class="modal">
        <input type="hidden" id="num">
        <label>
            Название товара:
            <input type="text" id="name"> 
        </label><br>

        <label>
            Артикул товара:
            <input type="number" id="art" min="0">
        </label><br>

        <label>
            Количество в наличии:
            <input type="number" id="count" min="0">
        </label><br>

        <label>
            Цена:
            <input type="number" id="price" min="0">
        </label><br>

        <button onclick="sendGood()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>
{% endblock %} 